In [24]:
import pandas as pd
import random
from sklearn.preprocessing import OrdinalEncoder

In [25]:
# Define the ordinal categories
ordinal_categories = ['Low', 'Higher', 'High']

In [26]:
# Generate random data with ordinal categories
data = []
num_rows = random.randint(100, 200)  # Generate a random number of rows

In [27]:
for _ in range(num_rows):
    category = random.choice(ordinal_categories)  # Randomly select a category
    data.append([category])

In [28]:
# Create a DataFrame
df = pd.DataFrame(data, columns=['income'])

In [29]:
df

     income
0       Low
1       Low
2    Higher
3      High
4       Low
..      ...
191    High
192  Higher
193  Higher
194    High
195  Higher

[196 rows x 1 columns]

In [30]:
encoder = OrdinalEncoder()

In [31]:
encoder.fit_transform(df.loc[:,['income']])

array([[2.],
       [2.],
       [1.],
       [0.],
       [2.],
       [2.],
       [2.],
       [1.],
       [2.],
       [2.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [1.],
       [0.],
       [2.],
       [2.],
       [1.],
       [2.],
       [0.],
       [0.],
       [0.],
       [0.],
       [2.],
       [1.],
       [0.],
       [2.],
       [1.],
       [1.],
       [1.],
       [2.],
       [1.],
       [2.],
       [0.],
       [2.],
       [2.],
       [2.],
       [0.],
       [2.],
       [0.],
       [1.],
       [0.],
       [1.],
       [2.],
       [0.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [2.],
       [0.],
       [0.],
       [2.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [2.],
       [0.],
       [2.],
       [0.],
       [2.],
       [1.],
       [0.],
       [1.],
       [0.],
       [2.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [2.],
       [1.],
       [2.],
       [2.],
       [2.],
       [2.],
       [1.],
       [2.],
       [1.],
       [2.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [2.],
       [0.],
       [0.],
       [2.],
       [1.],
       [1.],
       [2.],
       [0.],
       [0.],
       [2.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [2.],
       [2.],
       [0.],
       [0.],
       [0.],
       [2.],
       [2.],
       [2.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [2.],
       [2.],
       [2.],
       [2.],
       [1.],
       [2.],
       [1.],
       [0.],
       [1.],
       [2.],
       [0.],
       [2.],
       [2.],
       [0.],
       [1.],
       [0.],
       [1.],
       [2.],
       [2.],
       [2.],
       [2.],
       [2.],
       [2.],
       [0.],
       [2.],
       [1.],
       [2.],
       [2.],
       [2.],
       [2.],
       [2.],
       [0.],
       [0.],
       [1.],
       [2.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [2.],
       [2.],
       [2.],
       [0.],
       [2.],
       [2.],
       [0.],
       [2.],
       [0.],
       [1.],
       [1.],
       [0.],
       [2.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.]])

In [32]:
encoder.categories_

[array(['High', 'Higher', 'Low'], dtype=object)]

In [33]:
encoder.get_feature_names_out()

array(['income'], dtype=object)

In [34]:
df.loc[:,encoder.get_feature_names_out()] = encoder.fit_transform(df.loc[:,['income']])

In [35]:
df

    income
0      2.0
1      2.0
2      1.0
3      0.0
4      2.0
..     ...
191    0.0
192    1.0
193    1.0
194    0.0
195    1.0

[196 rows x 1 columns]